<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dinaragarifollina.profile">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BalanceMobile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerevodMob"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SMS"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Cashback" />
        <activity android:name=".Scan" />
        <activity android:name=".Profile" />
        <activity android:name=".InputCheck"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>